@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Got";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../public/fonts/gameOfThrones.ttf);
}

body {
  overflow-x: hidden;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="radio"] {
  accent-color: #f8714b;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #2D3493;
}

::-webkit-scrollbar-thumb:hover {
  background: #F8714B;
}

.avatar {
  animation: zoom-in-zoom-out 4s ease-out infinite;
}

.accordion {
  width: 100%;
  height: 600px;
  gap: 0;
  transition: 0.3s;
}

.accordion li {
  position: relative;
  overflow: hidden;
  flex: 0 0 120px;
  border-radius: 10px;
  opacity: 0.75;
  cursor: pointer;
}

.accordion li img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.accordion li,
.accordion li img,
.accordion li .content,
.accordion li .content span {
  transition: 0.3s;
}

.accordion li .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  color: #fff;
  padding: 15px;
  background: #02022e;
  background: linear-gradient(
    0deg,
    rgb(0 0 0 / 70%) 10%,
    rgb(255 255 255 / 0%) 100%
  );
  opacity: 0;
  visibility: hidden;
}

.accordion li .content span {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 3;
  left: 50%;
  bottom: 0px;
  padding-bottom: 10px;
  transform: translateX(-300px);
  visibility: hidden;
  opacity: 0;
}

.accordion li:hover {
  flex: 0 1 460px;
  z-index: 10;
  opacity: 1;
}

.accordion li:hover .content {
  opacity: 1;
  visibility: visible;
}

.accordion li:hover span {
  transform: translateX(-50%);
  opacity: 1;
  visibility: visible;
}

.card:hover .card-body {
  bottom: 0;
}

