@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Got";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../public/fonts/gameOfThrones.ttf);
}

body {
  overflow-x: hidden;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="radio"] {
  accent-color: #f8714b;
}
